# dev / local / main
NETWORK=dev

# (Optional) Specify the RPC host you want to use for your network
# SOLANA_RPC_HOST=http://localhost:8899

DEPLOY_FILE=deploy.dev.json

ADMIN_MNEMONIC="chicken ceiling game actor carbon weekend cycle naive physical orchard silk eager"
ORACLE_MNEMONIC="chicken ceiling game actor carbon weekend cycle naive physical orchard silk eager"
REQUESTER_MNEMONIC="chicken ceiling game actor carbon weekend cycle naive physical orchard silk eager"

# configuration for oracle feed sources
SOLINK_CONFIG=config/pricefeed.json

# chainlink integration (keep empty to disable chainlink node)
CHAINLINK_NODE_URL=
CHAINLINK_EI_JOBID=
CHAINLINK_EI_ACCESSKEY=
CHAINLINK_EI_SECRET=
CHAINLINK_EXTERNAL_API_HOST=0.0.0.0
CHAINLINK_EXTERNAL_API_PORT=7654

# to enable notification to a Telegram Bot
TELEGRAM_NOTIFIER_TOKEN=

# to enable bug reporting to Sentry
SENTRY_DNS=

# to enable Prometheus metrics
PROMETHEUS_HOST=
PROMETHEUS_PORT=