{
  "aggregators": {
    "btc:usd": {
      "decimals": 2,
      "minSubmissions": 1,
      "maxSubmissions": 3,
      "restartDelay": 0,
      "requesterRestartDelay": 0,
      "rewardAmount": 10000,
      "rewardTokenAccount": "3oLHHTaRqNsuTMjsTtkVy8bock6Bx8gCmDxku4TurVj1",
      "oracles": [
        "tester"
      ]
    },
    "eth:usd": {
      "decimals": 2,
      "minSubmissions": 1,
      "maxSubmissions": 3,
      "restartDelay": 0,
      "requesterRestartDelay": 0,
      "rewardAmount": 10000,
      "rewardTokenAccount": "3oLHHTaRqNsuTMjsTtkVy8bock6Bx8gCmDxku4TurVj1",
      "oracles": [
        "tester"
      ]
    }
  },
  "oracles": {
    "tester": {
      "owner": "9QYPHz91uGZMSueGBhtxmy17L4ynJoWXdTE7mU21kizc"
    }
  }
}